<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
  <script type="text/javascript" th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
  <title>ユーザー登録画面</title>
</head>
<body>
  <div class="container-fluid">
    <h2>ユーザー登録画面</h2>
    <span th:text="${message}"></span>
    <form th:action="@{/signup}" method="post" th:object="${signupForm}">
      <div class="form-group">
        <div class="col-3 col-md-2 col-xxl-1">
          <p><label for="loginId">ログインID</label>
          <input class="form-control" type="text" th:field="*{loginId}">
          <p><label for="password">パスワード</label>
          <input class="form-control" type="password" th:field="*{password}">
        </div>
        <p><input class="btn btn-primary" type="submit" value="ユーザー登録">
      </div>
    </form>
    <a th:href="@{/login}">▶ログイン画面へ戻る</a>
  </div>
</body>
</html>